* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {}

.brand-title {
    font-size: 1.5em;
    margin: 0.5rem;
}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .navbar-links ul {
    display: flex;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar .navbar-links ul li a {
    color: white;
    padding: 1rem;
    display: block;
}

.menu-toggle {
    display: none;
    position: absolute;
    width: 30px;
    height: 21px;
    right: 1rem;
    top: .75rem;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}


@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}